/* Applies styles specific to the main App component */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  line-height: 1.1;
  text-align: center;
  color: #d96767;
  font-family: "Balsamiq Sans", serif; 
  font-size: 3rem; 
  letter-spacing: 3px;

}

.form-container {
  display: flex;
  gap: 2rem;            
}

.form-container form {
  flex: 1;     
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 8px;
}

.person {
  margin-top: 0;
  text-align: center;
}


.fields label {
  display: flex;        
  align-items: center;   
  margin-bottom: 1rem; 
  justify-content: center;
  margin-right: 5rem;
}

.fields label span {
  display: inline-block;
  width: 150px;        
  text-align: right;      
  padding-right: 1rem;      
  line-height: 1.1;
}

.fields input, .fields select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.fields select {
  height: 2.25rem;   
  min-width: 156px;        
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.button-container button {
  font-family: "Balsamiq Sans", serif;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  background-color: #d96767;
  color: white;
}

.button-container button:hover {
  background-color: #a44848;
}

.results {
  background: #333;
  border-radius: 10px;
  padding-top: 0.5rem;
  margin-bottom: 2rem;
}

.results-breakdown {
  padding-left: 1rem;
}

#breakdown-title {
  font-size: 1.5rem;
  color: #ccc
}

#final-score {
  text-align: center;
  font-family: "Balsamiq Sans", serif;
  font-size: 2.3rem; 
  padding: 0.5rem 0 0.5rem 0;
}

.results h2, .results h3 {
  margin: 0;
  padding: 0;
}

.breakdown-item {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.breakdown-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category {
  margin-right: auto;
  color: #b97c7c;
  font-weight: 800;
  font-size: 1.2rem;
}

.category-score {
  float: right;
  padding-right: 1rem;
}

.progress-bar {
  opacity: 50%;
  margin-right: 1rem;
}

.comment {
  margin-top: 0.8rem;
  padding: 0rem 0 1rem 0;
  border-radius: 6px;
  font-size: 0.9rem;
  line-height: 1.4;
}

.results-footer {
  background: #333;
  border-radius: 10px;
  line-height: 0.5rem;
  min-width: 70%;
  max-width: 70%;
  margin: 1rem auto 0 auto;
  padding-top: 0.1rem;
  text-align: center;
}

.results-footer textarea {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  resize: none;
  font-size: 1rem;
  height: 2.5rem;   
  width: 90%;
  border-radius: 10px;
  border: 1px solid #cccccc8f;
  margin: 0.8rem;
}

.results-footer button {
  font-family: "Balsamiq Sans", serif;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  background-color: #a44848;
  color: white;
  padding: 4px 10px;
  margin-bottom: 0.6rem;

}

.results-footer button:hover {
    background-color: #773636;
}

.warning-notif {
  --toastify-toast-width: 15rem;
  --toastify-toast-min-height: 3rem;
  --toastify-toast-max-height: 3rem;
  --toastify-text-color-warning: #fffffffe;
  --toastify-color-warning: #ebc55bb1;
  --toastify-color-transparent: rgba(255, 255, 255, 0.5);
  line-height: 1;
}

.success-notif {
  --toastify-toast-width: 17rem;
  --toastify-toast-min-height: 2.5rem;
  --toastify-toast-max-height: 2.5rem;
  --toastify-text-color-success: #fffffffe;
  --toastify-color-success: #b1dd6eac;
  --toastify-color-transparent: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  line-height: 1;
}